@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  display: none;
}

/* base styles */
.login:hover .imgPrpl {
    display : block;
}

.login:hover .imgWht {
  display : none;
}

.wind {
  top : 50%;
  left : 50%;
  transform: translate(-50%, 0);
}




@media screen and (min-width: 1920px) {
  .light {
    transform: skew(30deg);
    Opacity: 0.7;
    Transition: opacity 0.5s;
  }
  
.light:hover {
  background: linear-gradient(229.51deg, rgba(250, 202, 125, 0) 56.15%, rgba(250, 202, 125, 0.2) 81.01%);
}
.big:hover .light{
  background: linear-gradient(229.51deg, rgba(250, 202, 125, 0) 56.15%, rgba(250, 202, 125, 0.2) 81.01%);
  Opacity: 1;
}


}
