@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
*::-webkit-scrollbar{
  display: none;
}

/* base styles */
.login:hover .imgPrpl {
    display : block;
}

.login:hover .imgWht {
  display : none;
}

.wind {
  top : 50%;
  left : 50%;
  transform: translate(-50%, 0);
}




@media screen and (min-width: 1920px) {
  .light {
    transform: skew(30deg);
    Opacity: 0.7;
    Transition: opacity 0.5s;
  }
  
.light:hover {
  background: linear-gradient(229.51deg, rgba(250, 202, 125, 0) 56.15%, rgba(250, 202, 125, 0.2) 81.01%);
}
.big:hover .light{
  background: linear-gradient(229.51deg, rgba(250, 202, 125, 0) 56.15%, rgba(250, 202, 125, 0.2) 81.01%);
  Opacity: 1;
}


.shad {
  box-shadow: rgba(61, 71, 226, 0.15) -10px 19px 38px, rgba(61, 71, 226, 0.15) 0px 15px 12px;
}

.shad2:hover{
  box-shadow: rgba(61, 71, 226, 0.15) -10px 19px 38px, rgba(61, 71, 226, 0.15) 0px 15px 12px;
}

}

.contain:hover .back {
  visibility: visible;
}

.rot1{
  transition: transform 0.5s;
}

.fullGrid:hover .rot1{
  transform: rotate(0);
}

.background {
  background: linear-gradient(180deg, rgba(93, 42, 73, 0.84) 0%, rgba(87, 46, 89, 0.81) 10.46%, rgba(83, 48, 99, 0.79) 21.16%, rgba(79, 51, 110, 0.78) 29.68%, rgba(76, 53, 120, 0.769009) 38.02%, rgba(72, 56, 131, 0.78) 46.72%, rgba(67, 59, 144, 0.79) 57.6%, rgba(61, 62, 159, 0.784509) 69.02%, rgba(57, 65, 171, 0.789404) 78.81%, rgba(54, 67, 178, 0.8) 84.43%, rgba(52, 68, 183, 0.794389) 88.78%, rgba(47, 71, 197, 0.8) 100%);
}